// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.key {
  display: block;
  border: 1px solid black;
  margin: 3px;
  width: 3%;
  height: 10%;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
}
