// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.key {
  display: block;
  border: 1px solid black;
  margin: 3px;
  height: 10%;
  text-align: center;
  overflow: hidden;
  min-height: 1.5em;
  border-radius: 3px;
}

.small {
  width: 2%;
}

.normal {
  width: 4%;
}

.long {
  width: 6%;
}

.extra-long {
  width: 42%;
}

.row {
  display: flex;
  justify-content: space-between;
}
