// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

#keyboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.key {
  margin: 2px;
  text-align: center;
  overflow: hidden;
  height: 100%;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
  color: black;
}

.padding {
  visibility: hidden;
}

.small {
  width: 2%;
}

.normal {
  width: 4%;
}

.long {
  width: 6%;
}

.extra-long {
  width: 42%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.kh-off {
  color: #e65858;
}

.kh-on {
  color: #33a53e;
}
